<% content_for :body do %>
  <%= erb :social_bar, locals: { show_home: true, type: :fixed } %>

  <div class="post-heading">
    <h1 id="title"><%= title %></h1>
    <h3 id="subtitle"><%= subtitle %></h3>
    <%= erb :post_metadata, locals: { post: post } %>
  </div>
  <div class="post-content">
    <%= post.content %>
  </div>
<% end %>
