<div class="post">
<a href="<%= post_url(post.slug) %>">
  <h1 class="post-title"><%= post.title %></h1>
  <h3 class="post-subtitle"><%= post.subtitle %></h3>
</a>
<div class="excerpt">
  <%= post.snippet(50) %>
</div>
  <%= erb :post_metadata, locals: { post: post } %>
  <hr class="divider"/>
</div>
