<div class="post">
  <a href="<%= post.slug %>">
    <h1 class="post-title"><%= post.title %></h1>
    <h3 class="post-subtitle"><%= post.subtitle %></h3>
  </a>
  <p class="metadata">
  Posted by <a href="#"><%= post.author %></a> on <%= post.date %>
  </p>
</div>
