<% content_for :body do %>

  <nav>
    <%= erb :logo, locals: {logo: :white_logo} %>
  </nav>

<div class="content-container">
  <div class="container">
    <div class="article article--full">
      <section class="article__header">
        <h3 class="article__title"><%= post.title %></h3>
        <a href="/about"><span class="article__author">Felipe</span></a>
        &mdash;
        <span class="article__date"><%= post.date %></span>
      </section>

      <div class="article__body">
        <%= post.content %>
      </div>
    </div>
    <div class="bottom-navigation">
      <%= erb :newer, locals: { newer: newer } %>
      <%= erb :older, locals: { older: older } %>
    </div>

  </div>
</div>
<% end %>
